

body {


  
  font-weight: 300;
  color: #7e7e7e; font-size:15px;
  line-height: 26px;
  width:100%;
    

}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;

  color: #4f9ec2;
}

h2, .h2 {
    font-size: 22px; 
}
#main-slider {
  height: 100vh!important;
  
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #3280ad!important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.buttons-main {
   width: 200px;
    margin:auto;
    margin-top: 10px!important;
}
@media(min-width:1501px) {
  #main-slider {
  

  background: url('../images/background.jpg') no-repeat right;
  background-size: cover ;
  height: 100vh;
  margin-top: 0px!important;
  }
  .main-info p{
  padding: 0 40px 0 40px;
  }
  .features {

  display: flex;
  justify-content: center;
}
}
@media(max-width:1500px) {
  #main-slider {
  

  background: url('../images/background2.jpg') no-repeat right;
  background-size: cover ;
  height: auto;
  margin-top: 0px!important;
  }
  .features {

  display: flex;
  justify-content: center;
}
  .main-info p{
  padding: 0 40px 0 40px;
  }
}
@media(max-width:900px) {
 .features {

  display: initial;
  justify-content: center;
}
  .main-info p{
  padding: 0 40px 0 40px;
  }
 
}
@media (min-width: 992px){
.main-info {
  margin-top: 10px!important;
  }
}

@media(max-width:750px) {
    .navbar ul{
  text-align: right!important;
  background: white!important;
}
.navbar ul li a{
  color: grey!important;
}
}

@media(max-width:767px) {
  .navbar ul{
  text-align: right;
  background: white;
}
.navbar ul li a{
  color: grey;
}
  #main-slider {
  

  background: url('../images/background3.jpg') no-repeat right;
  background-size: cover ;
  height: auto;
  margin-top: 0px!important;
 
  }
  .main-info {
    margin-top: 0px!important;
    color: white!important;
    padding: 0px!important;
    margin-top: 10px!important;
   
}
  
.pro-tech{
  font-size: 24px!important;
}
.buttons-main {
    width: 150px;
    margin:auto;
    margin-top: 10px!important;
}
.buttons-main .btn{
    padding: 5px;
}

.media-heading-index {
    
    margin-top: 40%!important;
}
  .features {

  display: initial;
  justify-content: center;
}

}
@media(max-width:450px) {
  .navbar ul{
  text-align: right;
  background: white;
}
.navbar ul li a{
  color: grey;
}
  #main-slider {
  

  background: url('../images/background3.jpg') no-repeat right;
  background-size: cover ;
  height: auto;
  margin-top: 0px!important;
 
  }
  .main-info {
    margin-top: 0px!important;
    color: white!important;
    padding: 0px!important;
    margin-top: 10px!important;
   
}
  .main-info p{
    font-size: 12px!important;
     padding: 10px!important;
}
h1, .h1 {
    font-size: 22px!important;
}
h2, .h2 {
    font-size: 18px!important;
}
.pro-tech{
  font-size: 24px!important;
}
.buttons-main {
    width: 150px;
    margin:auto;
    margin-top: -20px!important;
}
.buttons-main .btn{
    padding: 5px;
}

  .features {

  display: initial;
  justify-content: center;
}

}

.langen{
  font-family: 'Cairo', sans-serif;
}
.langar{
  /*font-family: 'Cairo', sans-serif;*/
  /*font-family: 'Jomhuria', cursive;*/
  font-family: 'Cairo', sans-serif;
  letter-spacing:0;
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}



.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
    font-size: 40px!important;
    color: #3180AD;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0px 0 20px;
    font-weight: 900;
    
    
}

.btn {
 
  border-radius:10px;
  font-weight: 900;
}
.btn.btn-primary {
  background: #3180AD;
  border-color: #3180AD; 
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
 background: #fff;
 color: #03a9f8; 
 
 transition: ease 0.5s;
 box-shadow: 30px 30px red ;
     transition: ease 0.5s;
    box-shadow: 0px 0px 17px 1px #03a9f8;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus {
 background: #fff;
 color: #f0ad4e; 
 
 transition: ease 0.5s;
 box-shadow: 30px 30px red ;
     transition: ease 0.5s;
    box-shadow: 0px 0px 17px 1px #f0ad4e;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
 background: #fff;
 color: #d9534f; 
 
 transition: ease 0.5s;
 box-shadow: 30px 30px red ;
     transition: ease 0.5s;
    box-shadow: 0px 0px 17px 1px #d9534f;
}
.control-btn{
  position: fixed;
    left: 2%;
    bottom: 0;
    overflow: hidden;
    padding: 20px;
  }

.control-btn div{
  margin-bottom: 10px
}
.control-btn .btn{
  width: 60px
}
.control-btn-prtf{
  position: fixed;
    left: 2%;
    bottom: 0;
    overflow: hidden;
    padding: 20px;
    z-index: 500000000000000000000000000000000000000000
  }
  
.control-btn-prtf div{
  margin-bottom: 10px
}

.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #45aed6;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
section {
  padding: 84px 0 70px 0px;
  
}

@media(min-width:767px) {
    .navbar {
        padding: 10px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background:white;
        box-shadow: 0px 0px 11px black;
    }
    #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: normal;
  }
}

.top-nav-collapse {
        padding: 0;
        background:white!important;


    }

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#main-menu.navbar-default {
    background-color: #ffffff00;}
    .navbar-default .navbar-nav>li>a {
    color: #d5d5d5;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 500px!important;
}

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0; 
  background: #ffffff00;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 28px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 0px
  
}
.navbar-default .navbar-chollapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-top: 10px;
}

@media only screen and (min-width: 768px) {

  #main-menu.navbar-default {
   
    
  }
  
  .arnav{
    display: flex; flex-direction: row-reverse;
    margin-right: 20px

}

  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px; font-size:15px; font-weight:normal;    padding-left: 10px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    border-top: 0px solid #308eb9; color:#03a9f4;
    font-weight: 600;
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: 1px solid #404455;
    padding: 15px 0;
    color: #eeeeee;
  }
    .navbar-nav li ul {
    
    
    
    color: black;
      font-weight:600;
    margin-left:30px;
    margin-top:-35px;
    margin-right: 15px;
  }
     .navbar-nav li ul a{
    
    border: 2px solid  #03a9f8;
    padding:1px;
    color: white;
    
  }
       .navbar-nav li ul .active{
    

    color:white;
    background-color:#03a9f8;
  }
  .navbar-nav li ul a:hover{
    color:white;
    background-color:#03a9f8;  
  }
  
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li >a.active,
  #main-menu.navbar-default .dropdown-menu > li>a.open,
  #main-menu.navbar-default .dropdown-menu > li>a:hover {
    border-left-color: #45aed6;
  }
  #main-menu.navbar-default .dropdown-menu > li> a.active ,
  #main-menu.navbar-default .dropdown-menu > li> a.open ,
  #main-menu.navbar-default .dropdown-menu > li> a:hover  {
    color: #45aed6;
    background-color: transparent;
  }
}

.navbar-brand img{
    width: 150px;
    height: 75px;}

.bottomicon img:hover{
    
    box-shadow: 0 8px 4px #968c8c;
  
}
.bottomicon img{
    width: 150px;
    height: 75px;
    background: #81c3e2;
    border-radius: 30px;
    box-shadow: 0 3px 4px #968c8c;
    transition: ease 0.5s;
}


#about {
  padding: 30px 0 30px;

color:#7A8191;
  
}
#about .about-txt{

}
#about .about-img img{
 
    width: 60%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#tools-title::after{
  content: url('../images/under-point.png');
}
.motion-v{
  margin-top: 30px;
}


#features .media.service-box:first-child {
  margin-top: 80px;
}
.intro {
  background:url("../images/bg1.jpg") no-repeat center center;
  background-size: contain;
}
#animated-number {
  padding: 87px 0 87px;

  color: #3180AD;
}

#animated-number strong {
  display: block;
  margin-bottom: 30px; font-size:22px; text-transform:capitalize;
}
.animated-number {
  display: inline-block;
  
  font-size: 29px;
  line-height: 20px;
  
  border-radius: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#services {
  background: transparent url(../images/bg.jpg) no-repeat  top ;
  background-size: cover;

  
  
  
}
.services-div{
  margin-top: 60px
}
.media.service-box {
  /*margin: 25px 0; text-align:center;*/
  margin: 25px 0;
    text-align: center;
    border: 16px solid;

}






.services-item img{
    width: 150px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 20px;
    padding-bottom: 20px;
    
    
    
}
.modal-img{
 width: 100%;
}
.media-body {background-color: rgba(255,255,255,0);padding: 30px;;
overflow-wrap: break-word;
    word-wrap: break-word;}
.media-body h4{ margin-bottom:15px; font-size:22px; color:#03a9f8;}
.media-body p{ line-height:20px;color: #454546;}
.media.service-box:hover .pull-left > i {
/*  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
*/  color: #000;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.8);
}
.btn-serv {
    margin-right: -15px;
    margin-left: -15px;
    position: absolute;
    bottom: 5px;
    left: 10%;
    right: 10%;
}
.btn-blog {
    margin-right: -15px;
    margin-left: -15px;
    position: absolute;
    bottom: 5px;
    left: 35%;
    
}
#portfolio {
  padding: 87px 0;
     
      
      background:url("../images/bg1.jpg") no-repeat center center;
  background-size: cover;

}
#portfolio .portfolio-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;

}
#portfolio .portfolio-filter > li {
  float: left;
  display: block;
  padding-left: 0;
  padding-right: 0;

}
#portfolio .portfolio-filter > li a {
  display: block;
  padding: 7px 15px;
  color: 03a9f8;
  position: relative;
  border:1px solid #03a9f8;
  margin: 10px;
}
#portfolio .portfolio-filter > li a:hover,
#portfolio .portfolio-filter > li a.active {
  background: #03a9f8;
  color: #fff;
 /* box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;*/
}
/*#portfolio .portfolio-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #318daf transparent transparent transparent;
}*/
#portfolio .portfolio-filter > li:first-child a {
  border-radius: 0px 0 0 0px;
}
#portfolio .portfolio-filter > li:last-child a {
 /* border-radius: 0 4px 4px 0;*/
}

#portfolio .portfolio-item {margin-left: auto;padding: 15px;}

#portfolio .portfolio-item img {width: 100%;}
#portfolio .portfolio-item img:hover {transform: scale(1.1);transition: ease 0.5s;box-shadow: 5px 5px 5px 5px #3333338a}
#portfolio .video video { width:100%;}
#portfolio .video:hover {transform: scale(1.1);transition: ease 0.5s;box-shadow: 5px 5px 5px 5px #3333338a}
#portfolio .portfolio-item .portfolio-item-inner {

}

#portfolio .portfolio-item {
 margin-bottom: 10px;
}
.name-prtf{
    visibility:hidden;
    background:white;
}
#portfolio .portfolio-item img:hover .name-prtf {
    visibility:visible;
    text-align:center;
}
.portfolio-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: #1a67969c;
  color: #fff;
  height: 100%;
}
.p-info{
  margin-top: 40%;
}
.portfolio-info h3 {
  font-size: 18px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
.portfolio-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
}
#portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;

}
/* Start: Recommended Isotope styles */
/* Start: Recommended Isotope styles */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -moz-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -webkit-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  background-image: -ms-linear-gradient(180deg, #ffffff 0%, #e3e3e3 49%, #ffffff 100%);
  width: 95%;
  height: 1px;
}
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #eeeeee;
}
.progress .progress-bar.progress-bar-primary {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #45aed6;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
#clients {
  background: url('../images/partners.png') no-repeat ;
  background-size: cover ;
  height: auto;
 
  margin-top: 0px!important;
}
#pricing {
  padding: 84px 0 70px 0px; background: url('../images/offer-bg.png') ;
    background-size: cover;
}
#testimonial {
  background-size: cover;
  padding: 87px 0 80px 0;
  background-color: #E3E3E3;
  position: relative;

}
#testimonial .section-title{
  color: 
}
.section-title img {
  width: 20px;
}
.section-title .under_points{
  width: 150px!important;
}
#testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}
#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}
#testimonial .btns {
  margin-top: 10px;
}

#testimonial .col-sm-6{  padding-bottom:20px;}
#testimonial .col-sm-6:nth-child(2n+0){border-right:0px solid #f4f4f4;}
#testimonial .col-sm-6:nth-child(3), #testimonial .col-sm-6:nth-child(4){border-bottom:0px solid #06F;}
#testimonial .panel-one{ padding-bottom:20px; padding-top:20px; float:left; overflow:hidden;}
#testimonial .user-img{ width:25%; margin-right:15px; float:left;}
#testimonial .user-img img{ border-radius:50%; border:4px solid #e5e5e5; width:100%;}

#testimonial .testi-info{ width:66%; float:left;}
#testimonial .testi-info h4{ font-size:18px; color:#383838; margin:10px; }
#testimonial .testi-info h5{ font-size:14px; color:#03a9f7; margin:0px; padding-bottom:10px; font-weight:normal;}
#testimonial .testi-info p{ font-size:15px; color:#606060; line-height:20px;}

#get-in-touch {

  color: white; 
  background: transparent url(../images/contact.png) no-repeat center top ;
  background-size: cover;
}
#get-in-touch h1,
#get-in-touch h2 {
  
}
#get-in-touch .address{ float:left; width:100%; margin-bottom:25px;}
#get-in-touch .address h4{ font-size:26px; color:white; margin:0px; padding-bottom:5px;}
#get-in-touch .address p{ font-size:16px; color:grey; margin:0px; padding-bottom:5px;}
#get-in-touch .address a{ color:#fff;}

#get-in-touch .form-control{ height:40px; color:#323232;background: #fff;}
#get-in-touch  textarea.form-control{ height:135px;color:#323232;}

#get-in-touch .btn.btn-primary{ font-size:14px; padding:8px 40px;transition: ease 0.5s}
#get-in-touch .btn.btn-primary:hover{background-color: #2f7a9e}
.social-media{
    width: 40px;
    height: 40px;
   


}
.social-media:hover{
  transform: scale(1.1);
}
#blog {

  /*background-color: #153e52;*/
   background: url('../images/blog.png') no-repeat ;
  background-size: cover ;
  height: auto;
  margin-top: 0px!important;
}

#blog .blog-post {
  background:rgba(255, 255, 255, 0.8588235294117647);
  border: 3px solid #eee;

}
#blog .blog-post .item {
  height: 200px; }

#owl-example .item{ margin-left:25px;margin-right: 25px}



#blog .blog-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #222534;
  border: 3px solid #fff;
  border-radius: 100px;
}
#blog .blog-post.blog-large .entry-thumbnail {

  position: relative;
}
#blog .blog-post.blog-large .entry-thumbnail img{height: 250px;}

#blog .blog-post.blog-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}
#blog .blog-post.blog-large .post-format > i {
  font-size: 20px;
}
#blog .blog-post.blog-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px; text-align:center;
  text-transform: uppercase;
  color: #30536c;
}
#blog .blog-post.blog-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-large .entry-title a {
  color: #3180AD; font-size:18px; text-transform:uppercase; font-weight:normal;
}
#blog .blog-post.blog-large .entry-title a:hover {
  color: #45aed6;
}
.modaldesc{
  color: grey!important;
}
#blog .blog-post.blog-media {
  margin-bottom: 30px;
}
#blog .blog-post.blog-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}
#blog .blog-post.blog-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}
#blog .blog-post.blog-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #45aed6;
}
#blog .blog-post.blog-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#blog .blog-post.blog-media .entry-title a {
  color: #64686d;
}
#blog .blog-post.blog-media .entry-title a:hover {
  color: #45aed6;
}
#blog .blog-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
#blog .blog-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
#blog .blog-post .entry-meta > span > a {
  color: #999;
}
#blog .blog-post .entry-meta > span > a:hover {
  color: #45aed6;
}
#blog .btn.btn-primary{  font-size:15px;  padding:10px 30px;}
#blog .btn.btn-primary:hover{ background-color: #fff}

#contact {
  position: relative;
  overflow: hidden;
}
#contact .container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(69, 174, 214, 0.3);
  z-index: 1;
}
#contact .contact-form {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  margin-top: 50px;
}
#contact .contact-form h3 {
  margin-top: 0;
}
/***********************
********* Footer ******
************************/
#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background: #2e2e2e;
  height:70px;
  width:100%;
}
#footer a {
  
      color: #fff;
    position: absolute;
    top: px;
    right: 10%;
    left: 10%;
    padding-top: 10px;
}
#footer a:hover {
  color: #45aed6;
}
@media(max-width:603px){
    .footer-brand {
 
    

}
#footer{
    height:100px;
    
}
#footer a {
  
      color: #fff;
    position: absolute;
    top: px;
    right: 10%;
    left: 10%;
    padding-top: 40px;
}
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer ul > li {
  display: inline-block;
  margin: 0 7.5px;

}
.footer-brand {
  width: 100px;

}
@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}
.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}

  

  /*buttons*/
  .services-btn-dtl{


  }
   .services-btn-dtl:hover{
   
  }
    .services-btn-buy{

   background-color: #7aaecc!important;
  }
   .services-btn-buy:hover{
    background-color: #00a9ff!important;
  }
  /*puce*/
  .puce{
    width: 30px;
    height: 30px;
  }
  .pt-frt{
    font-weight: 600;
    font-size: 18px;
  }
#pricing .owl-item{
  padding: 10px;
}
/*offers*/
/* Global */


/* Carousel */

#carousel-example-generic {
   
    
}
.glyphicon-chevron-left,.glyphicon-chevron-right{
  position: absolute!important;
  top: -85px!important;
}

#carousel-custom .carousel-indicators {
    margin: 0px;
    margin-bottom: -35px;
    overflow: auto;
    position: static;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    height: 150px;
    padding: 0;
    overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

      -webkit-overflow-scrolling: touch;
}
#carousel-custom .carousel-indicators li {
    background-color: white;
    padding: 10px;
    
    font-weight: 900;
    height: 50px;


    width: auto;
    border: none;
    margin-left: 20px;


}

#carousel-custom .carousel-indicators li.active {
    background:#023256;
    border:2px white solid;
    color: white;

   

 


}
#carousel-custom .carousel-indicators li::after {
  content:url('../images/line0.png');

    z-index: 5000000000000000000000000;
    position: relative;
    
    
}
#carousel-custom .carousel-indicators li.active::after {
  content:url('../images/line.png');

    z-index: 5000000000000000000000000;
    position: relative;
    
    
}
#carousel-custom .carousel-indicators li p {
   text-indent:0;

    border:none;
    background-color: transparent;
    display: block;
}



#carousel-custom .carousel-outer {
    position: relative;
    background: url('../images/offer-dtl.png');
    background-size: cover;
    
}
#carousel-custom .carousel-outer .info-offer{
    padding:5px;
}
.offrimg{
  height: 300px;
}
.details-offer{
  color: white;
  background: #0000085c;
  height:300px;
  border:white 2px solid;
}
@media(min-width:700px){
    #carousel-custom .carousel-outer {
    padding:60px;

}

}

 

#carousel-custom {
    margin: 20px auto;
    
    
}
.carousel-inner .item{

}
/**/
#owl-demo .item {
    
}
#owl-demo .item img {
    display: block;
    width: 50%;
    height: auto;
}
.owl-pagination{
  text-align: center;

}
#main-slider .owl-pagination{
  text-align: center;
   margin-top: -50px;
}
.main-info{
  margin-top: 50px;
  color: white!important;
  padding: 30px;
}
.buttons-main{
  margin-top: 70px;
  
  

}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    text-align: center;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
   

}
.owl-theme .owl-controls .active span{
  background-color: #03a9f8;
}
#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.carousel-control {
    background-image:none !important;
    filter:none !important;
}
/*loader*/

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    line-height: 1;
    width: 100%;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color:  #03a9f8;
}
#whatsapp img{
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 50px;
  z-index:50000000000000;

}
@media (min-width:600px){

}